[Unit]
Description=robot

[Service]
User=pi
WorkingDirectory=/home/pi
Environment="ROS_LOCALHOST_ONLY=1"
ExecStart=/home/pi/pupperv3-monorepo/robot/utils/robot.sh
CapabilityBoundingSet=CAP_SYS_NICE
LimitRTPRIO=infinity
LimitCPU=infinity

[Install]
WantedBy=multi-user.target
